<div class="contenedor-header">
  <header>
    <div class="logo">
      <a href="#">JB7</a>
    </div>
    <nav id="nav">
      <ul>
        <li><a href="#inicio" (click)="seleccionar()">INICIO</a></li>
        <li><a href="#sobremi" (click)="seleccionar()">SOBRE MI</a></li>
        <li><a href="#skills" (click)="seleccionar()">HABILIDADES</a></li>
        <li><a href="#curriculum" (click)="seleccionar()">CURRICULUM</a></li>
        <li><a href="#portfolio" (click)="seleccionar()">PORTAFOLIO</a></li>
        <li><a href="#contacto" (click)="seleccionar()">CONTACTO</a></li>
      </ul>
    </nav>
    <div class="nav-responsive" (click)="mostrarOcultarMenu()">
      <i class="fa-solid fa-bars"></i>
    </div>
  </header>
</div>



