<section id="inicio" class="inicio">
  <div class="contenido-banner">
    <div class="contenedor-img">
      <img src="assets/img/johan.jpeg" alt="">
    </div>
    <h1>JOHAN BARZALLO</h1>
    <h2>Ingeniero de Software</h2>
    <div class="redes">
      <a href="https://www.linkedin.com/in/johan-ariel-barzallo-vargas-b2ab09186/" target="_blank">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/Johanb1997" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://www.instagram.com/johan_barzallo97" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>
</section>
