<!-- Header Component -->
<app-header></app-header>

<!-- Home Component (Section INICIO) -->
<app-home></app-home>

<!-- About Component (Section SOBRE MI) -->
<app-about></app-about>

<!-- Skills Component (Section SKILLS) -->
<app-skills></app-skills>

<!-- Curriculum Component (Section CURRICULUM) -->
<app-curriculum></app-curriculum>

<!-- Portfolio Component (Section PORTFOLIO) -->
<app-portfolio></app-portfolio>

<!-- Contact Component (Section CONTACTO) -->
<app-contact></app-contact>

<!-- Footer Component -->
<app-footer></app-footer>
